.main_container {
    text-align: center;
    border: solid 1pt;
    background-color: lightcyan;
    width: 350px;
    margin: auto
}

.btn_container {
    display: flex;
    justify-content: center;
}

.btn_spacing {
    margin: 5px 5px 5px 5px;
}

